/***** First Block ****/

.first-block {
  padding:280px 0 200px 0;
  width: 100%;
  // background-image: url(../img/jump.jpeg);
  color:$white;

  .text-container {
    width: 80%;
    text-align: left;
    margin:0 auto;


    p {
      font-weight:lighter;
      text-transform: uppercase;
      margin: 5px 0 30px;
      font-size: 14px;
    }
    .primary-button {

    }
  }
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: -350px;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
