/*********** Header *************/

#header-container {
  position: fixed;
  text-align: left;
  top:0;
  width: 180px;
  height: 100%;
  left:-180px;
  background-color:$black;
  transition:0.2s all;
  z-index: 1;
  padding-top:130px;
}
.hamburger-icon {
  position: fixed;
  font-size: 2em;
  right:5%;
  top:30px;
  transition:0.2s all;
  cursor:pointer;
  color:$orange;
}
.hamburger-icon:hover {
  color:#222;
}


/***** logo ****/

.hexagon {
  width: 74px;
  height: 40px;
  background: $black;
  position: fixed;
  top: 40px;
  left: 45px;
  text-align: center;
  line-height: 42px;
  font-size: 2.3em;
  transition: 0.2s all;
  color:$white;
  font-weight: bold;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
	border-bottom: 25px solid $black;
  transition: 0.2s all;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
	border-top: 25px solid  $black;
  transition: 0.2s all;
}
.hexagon:hover {
  background-color: $orange;
  // color:$white;

}
.hexagon:hover::before {
  border-bottom: 25px solid   $orange;
}
.hexagon:hover::after {
  border-top: 25px solid   $orange;
}

.hover-logo {
  transition: 2s all;
  background-color: $orange;
}
.hover-logo::after {
  transition: 2s all;
  border-top: 25px solid   $orange;
}
.hover-logo::before {
  transition: 2s all;
  border-bottom: 25px solid   $orange;
}
// .logo-text {
//   display: none;
//   color:#4d4d4d;
//
// }

/*** NAV ITEM****/

  .nav-item {
    display: block;
    padding:20px;
    width: 180px;
    cursor: pointer;

  }
  .nav-item:hover {
    transition: 0.2s all;
    color:$white;
    background-color: $orange;
  }






.hamburger-in {
  transition:0.2s all;
  left:0px !important;
}
