/***** Second Block ****/

.second-block {
  background-color: $white;
  padding:150px 0;
  text-align: left;
  margin:0 auto;

  h2 {
    text-align: center;
  }
  p {
    width: 80%;
    margin:30px auto;
  }
  .profile-image {
    display: block;
    margin:50px auto 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid $black;

  }
}
