@font-face {
  font-family: 'San Francisco Light';
  src: url("fonts/SanFranciscoDisplay-Light.otf");
  src: url("fonts/SanFranciscoDisplay-Light.otf?#iefix") format("opentype"), url("SanFranciscoDisplay-Light.otf") format("otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'San Francisco Regular';
  src: url("fonts/SanFranciscoDisplay-Regular.otf");
  src: url("fonts/SanFranciscoDisplay-Regular.otf?#iefix") format("opentype"), url("SanFranciscoDisplay-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'San Francisco Bold';
  src: url("fonts/SanFranciscoDisplay-Bold.otf");
  src: url("fonts/SanFranciscoDisplay-Bold.otf?#iefix") format("opentype"), url("SanFranciscoDisplay-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'San Francisco Light';
  letter-spacing: 2px;
  color: #777; }

a {
  text-decoration: none;
  color: #ffffff; }

.image {
  background-image: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center; }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.4em; }

h1, h3 {
  margin: 0; }

h2, h3 {
  font-weight: normal; }

li {
  list-style: none; }

/**** buttons ****/
.primary-button {
  border: none;
  text-decoration: none;
  padding: 17px 25px;
  /*width: 200px;*/
  font-weight: normal;
  background-color: #ffa31a;
  border-radius: 10px;
  border: 1px solid #ffa31a !important;
  transition: 0.2s all;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75); }

.primary-button:focus,
.primary-button:active,
.primary-button:hover {
  border: 1px solid #ff9900;
  outline: none;
  background-color: #ff9900;
  color: #fff; }

.secondary-button {
  font-weight: normal;
  border: none;
  text-decoration: none;
  padding: 15px 35px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;
  transition: 0.2s all;
  display: block;
  margin: 0 auto;
  font-size: 1.1em;
  color: #777;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75); }

.secondary-button:focus,
.secondary-button:active,
.secondary-button:hover {
  border: 1px solid #4d4d4d;
  outline: none;
  background-color: #4d4d4d;
  color: #ffffff; }

.appointment-container {
  width: 75%;
  margin: 0px auto 40px auto;
  text-align: center;
  max-width: 750px; }

/*********** NAV MOBILE *************/
#header-container {
  position: fixed;
  text-align: left;
  top: 0;
  width: 180px;
  height: 100%;
  left: -180px;
  background-color: #4d4d4d;
  transition: 0.2s all;
  z-index: 1;
  padding-top: 130px; }

.hamburger-icon {
  position: fixed;
  font-size: 2em;
  right: 5%;
  top: 30px;
  transition: 0.2s all;
  cursor: pointer;
  color: #ffa31a; }

.hamburger-icon:hover {
  color: #222; }

/***** logo ****/
.hexagon {
  width: 74px;
  height: 40px;
  background: #4d4d4d;
  position: fixed;
  top: 40px;
  left: 45px;
  text-align: center;
  line-height: 42px;
  font-size: 2.3em;
  transition: 0.2s all;
  color: #ffffff;
  font-weight: bold; }

.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  border-bottom: 25px solid #4d4d4d;
  transition: 0.2s all; }

.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  border-top: 25px solid #4d4d4d;
  transition: 0.2s all; }

.hexagon:hover {
  background-color: #ffa31a; }

.hexagon:hover::before {
  border-bottom: 25px solid #ffa31a; }

.hexagon:hover::after {
  border-top: 25px solid #ffa31a; }

.hover-logo {
  transition: 2s all;
  background-color: #ffa31a; }

.hover-logo::after {
  transition: 2s all;
  border-top: 25px solid #ffa31a; }

.hover-logo::before {
  transition: 2s all;
  border-bottom: 25px solid #ffa31a; }

/*** NAV ITEM****/
.nav-item {
  display: block;
  padding: 20px;
  width: 180px;
  cursor: pointer; }

.nav-item:hover {
  transition: 0.2s all;
  color: #ffffff;
  background-color: #ffa31a; }

.hamburger-in {
  transition: 0.2s all;
  left: 0px !important; }

/***** First Block ****/
.first-block {
  padding: 230px 0 200px 0;
  width: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2); }
  .first-block .text-container {
    width: 80%;
    text-align: left;
    margin: 0 auto; }
    .first-block .text-container p {
      font-weight: lighter;
      text-transform: uppercase;
      margin: 5px 0 30px;
      font-size: 15px; }

#video-background {
  /*  making the video fullscreen  */
  position: fixed;
  right: -350px;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */ }

/***** Second Block ****/
.second-block {
  background-color: #ffffff;
  padding: 150px 0;
  text-align: left;
  margin: 0 auto; }
  .second-block h2 {
    text-align: center; }
  .second-block p {
    width: 80%;
    margin: 30px auto; }
  .second-block .profile-image {
    display: block;
    margin: 50px auto 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%; }

/*********** appoinment-header *************/
.header-container,
.appoinment-header-container {
  text-align: center;
  margin-top: 100px;
  padding: 50px 0; }
  .header-container h1::after,
  .appoinment-header-container h1::after {
    content: "";
    display: block;
    margin: 5px auto;
    height: 2px;
    width: 60px;
    background-color: #ffa31a; }

/*********** Appointment time block *************/
.appointment-container {
  width: 75%;
  margin: 0px auto 40px auto;
  text-align: center;
  max-width: 750px; }
  .appointment-container ul {
    padding: 0; }
    .appointment-container ul li {
      padding: 5px;
      background-color: #ffa31a;
      border-radius: 10px;
      margin: 10px 0;
      color: #ffffff;
      display: flex;
      transition: 0.2s all;
      cursor: pointer; }
      .appointment-container ul li p {
        text-align: left;
        margin-left: 25px;
        flex: 1; }
      .appointment-container ul li p:first-child {
        flex: 5; }
    .appointment-container ul li:hover {
      background-color: #ff9900; }

.calendar-container {
  display: block;
  margin: 20px auto;
  width: 95%;
  max-width: 770px;
  text-align: center; }
  .calendar-container .week {
    display: inline-block;
    margin: 10px; }
  .calendar-container ul {
    padding: 0; }
  .calendar-container .active-day {
    background-color: #6e6e6e !important;
    color: #ffffff;
    animation: pop 0.3s linear 1; }
@keyframes pop {
  50% {
    transform: scale(1.1); } }
  .calendar-container .monday,
  .calendar-container .tuesday,
  .calendar-container .wednesday,
  .calendar-container .thursday,
  .calendar-container .friday,
  .calendar-container .saturday,
  .calendar-container .sunday {
    display: inline-block;
    border: 1px solid #6e6e6e;
    padding: 15px 5px;
    margin: 10px 1%;
    background-color: #ffffff;
    border-radius: 10px;
    transition: 0.2s all;
    cursor: pointer; }
    .calendar-container .monday p,
    .calendar-container .tuesday p,
    .calendar-container .wednesday p,
    .calendar-container .thursday p,
    .calendar-container .friday p,
    .calendar-container .saturday p,
    .calendar-container .sunday p {
      margin: 0; }
    .calendar-container .monday :last-child,
    .calendar-container .tuesday :last-child,
    .calendar-container .wednesday :last-child,
    .calendar-container .thursday :last-child,
    .calendar-container .friday :last-child,
    .calendar-container .saturday :last-child,
    .calendar-container .sunday :last-child {
      font-size: 10px; }
  .calendar-container .monday:hover,
  .calendar-container .tuesday:hover,
  .calendar-container .wednesday:hover,
  .calendar-container .thursday:hover,
  .calendar-container .friday:hover,
  .calendar-container .saturday:hover,
  .calendar-container .sunday:hover {
    background-color: #6e6e6e;
    color: #ffffff; }
  .calendar-container .monday:active,
  .calendar-container .monday:focus {
    max-height: 500px !important;
    transition: max-height 0.25s ease-in; }
  .calendar-container .saturday,
  .calendar-container .sunday {
    display: none; }
  .calendar-container .freeTimes-container {
    display: block;
    width: 80%;
    margin: 0 auto; }
    .calendar-container .freeTimes-container .monday-times li,
    .calendar-container .freeTimes-container .tuesday-times li {
      text-align: center;
      padding: 15px;
      background-color: #ffa31a;
      border-radius: 10px;
      margin: 10px auto;
      color: #ffffff;
      transition: 0.2s all;
      cursor: pointer;
      font-size: 1.2em; }
    .calendar-container .freeTimes-container .monday-times li:hover,
    .calendar-container .freeTimes-container .tuesday-times li:hover {
      background-color: #ff9900; }

.buttons-container {
  width: 80%;
  font-size: 1em;
  margin: 40px auto;
  height: 100px; }
  .buttons-container .primary-button {
    float: right;
    width: 150px;
    padding: 10px 0; }
  .buttons-container .secondary-button {
    float: left;
    width: 150px;
    padding: 10px 0; }

.form-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto; }
  .form-container label {
    text-align: left;
    display: block; }
  .form-container input {
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: 10px auto;
    font-size: 1.2em; }
  .form-container input:focus {
    outline: none;
    border-style: none;
    border: 1px solid #ffa31a;
    border-radius: 6px; }
  .form-container .primary-button {
    margin: 0 !important; }
  .form-container .buttons-container {
    width: 100%;
    font-size: 1em;
    margin: 40px auto;
    height: 100px; }

.appointment-confirmation-container {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 770px;
  text-align: center; }
  .appointment-confirmation-container .customer-details {
    padding: 0;
    width: 65%;
    margin: 50px auto; }
    .appointment-confirmation-container .customer-details li {
      text-align: left; }
    .appointment-confirmation-container .customer-details p {
      display: inline-block; }
      .appointment-confirmation-container .customer-details p strong {
        margin-right: 5px; }
  .appointment-confirmation-container .customer-details:after {
    content: "";
    display: block;
    margin: 60px auto;
    height: 1px;
    width: 70%;
    background-color: #ccc; }
  .appointment-confirmation-container .primary-button {
    width: 180px; }
  .appointment-confirmation-container .buttons-container {
    width: 70%; }

.appointment-result-container {
  width: 90%;
  max-width: 770px;
  margin: 0 auto; }
  .appointment-result-container .secondary-button {
    float: right; }

.prices-container {
  max-width: 600px;
  margin: 0 auto;
  width: 80%;
  text-align: center; }
  .prices-container h2 {
    margin-bottom: 40px; }
  .prices-container .treatment {
    margin: 20px 0; }
  .prices-container .treatment:after {
    content: "";
    display: block;
    height: 1px;
    background-color: #ccc;
    width: 50%;
    margin: 30px auto 60px auto; }

.prices-container .treatment:last-child:after {
  height: 0px; }

.contact-container {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  max-width: 600px; }
  .contact-container .contact-information {
    margin: 60px 5%;
    text-align: left; }
  .contact-container .contact-information:after {
    content: "";
    margin: 40px auto 0 auto;
    display: block;
    height: 1px;
    background-color: #ccc;
    width: 60%; }
  .contact-container .map iframe {
    width: 100%;
    height: 500px;
    border: 20px solid transparent; }
  .contact-container .phone:before {
    font-family: 'FontAwesome';
    content: "\f095";
    font-size: 1.5em;
    letter-spacing: 15px;
    color: #777; }
  .contact-container .email:before {
    font-family: 'FontAwesome';
    content: "\f0e0";
    font-size: 1.5em;
    letter-spacing: 15px;
    color: #777; }
  .contact-container .address:before {
    font-family: 'FontAwesome';
    content: "\f041";
    font-size: 1.5em;
    letter-spacing: 15px;
    color: #777; }

/*********** Footer *************/
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px 5% 20px 5%;
  background-color: #ffffff;
  color: #777;
  text-align: center; }
  footer p {
    font-size: 12px; }
  footer span {
    font-weight: bold;
    color: #ffa31a; }
  footer .some-footer-container h5 {
    margin-bottom: 5px; }
  footer .some-footer-container p {
    font-size: 2.5em;
    transition: 0.2s all;
    margin: 10px;
    cursor: pointer; }
  footer .some-footer-container p:hover {
    color: #ffa31a; }
  footer .copyright {
    text-align: center;
    font-size: 11px; }

footer::before {
  content: "";
  display: block;
  margin: 30px auto;
  height: 1px;
  width: 90%;
  background-color: #ccc; }

@media screen and (min-width: 580px) {
  .monday,
  .tuesday,
  .wednesday,
  .thursday,
  .friday,
  .saturday,
  .sunday {
    padding: 15px 10px;
    margin: 10px 1%; }
    .monday :last-child,
    .tuesday :last-child,
    .wednesday :last-child,
    .thursday :last-child,
    .friday :last-child,
    .saturday :last-child,
    .sunday :last-child {
      font-size: 12px; } }
@media screen and (min-width: 768px) {
  .second-block .profile-image {
    width: 300px;
    height: 300px; }

  /*****  NAVIGATION DESKTOP *****/
  #header-container {
    text-align: right;
    top: 0px;
    width: 100%;
    height: 60px;
    left: 0;
    background-color: transparent;
    padding-top: 30px;
    padding-right: 30px; }
    #header-container .hamburger-icon {
      display: none; }
    #header-container .scrolled-hexagon {
      transition: 1s all;
      opacity: 0; }
    #header-container .nav-block {
      transition: .2s all;
      position: absolute;
      background-color: rgba(77, 77, 77, 0);
      width: 100%;
      padding-right: 5%;
      top: 35px; }
      #header-container .nav-block .nav-item {
        text-align: center;
        display: inline-block;
        padding: 10px;
        width: 120px;
        color: #ffffff;
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease; }
      #header-container .nav-block .nav-item:hover {
        background-color: transparent; }
      #header-container .nav-block .nav-item:after {
        transition: 0.3s all;
        content: "";
        display: block;
        width: 70px;
        height: 2px;
        margin: 10px auto;
        background-color: transparent; }
      #header-container .nav-block .nav-item:hover:after {
        content: "";
        background-color: #ffa31a; }
    #header-container .scrolled-nav {
      position: fixed;
      background-color: rgba(77, 77, 77, 0.8);
      transition: 1s all;
      top: 0;
      padding-top: 10px;
      height: 61px; }
      #header-container .scrolled-nav a li {
        color: white !important; }

  #video-background {
    /*  making the video fullscreen  */
    position: fixed;
    right: 0px;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100; } }
@media screen and (min-width: 1024px) {
  /*****  LOGO *****/
  .hexagon {
    left: 40px; }

  .primary-button {
    padding: 20px 35px;
    font-size: 1.1em; }

  /*****  FIRST BLOCK *****/
  .first-block {
    padding: 310px 0 480px 0;
    width: 100%;
    text-align: center;
    color: #ffffff; }
    .first-block .text-container {
      letter-spacing: 3px;
      width: 900px; }
      .first-block .text-container h1 {
        font-size: 5em;
        font-weight: bold;
        margin: 5px 0 0 0; }
      .first-block .text-container p {
        font-size: 20px; }

  /*****  SECOND BLOCK *****/
  .second-block p {
    max-width: 700px; }

  /*****  PRICES PAGE *****/
  .prices-container {
    max-width: 800px; }
    .prices-container .treatment {
      padding: 20px;
      width: 50%;
      display: inline-block; }
    .prices-container .treatment:last-child:after {
      height: 1px; } }
@media screen and (min-width: 1400px) {
  /*****  FIRST BLOCK *****/
  .first-block .text-container {
    width: 1000px; }
    .first-block .text-container h1 {
      font-size: 6em; } }

/*# sourceMappingURL=style.css.map */
